USE [PENBUN]
GO
/****** Object:  Table [dbo].[tb_company]    Script Date: 2026-06-09 10:38:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_company](
	[autoID] [int] IDENTITY(1,1) NOT NULL,
	[prefix] [nvarchar](3) NOT NULL,
	[company_id] [nvarchar](50) NULL,
	[company_code] [nvarchar](20) NOT NULL,
	[name_th] [nvarchar](200) NOT NULL,
	[name_en] [nvarchar](200) NULL,
	[description] [nvarchar](255) NULL,
	[tax_id] [nvarchar](20) NULL,
	[branch_code] [nvarchar](10) NULL,
	[contact_person] [nvarchar](100) NULL,
	[phone] [nvarchar](50) NULL,
	[mobile] [nvarchar](50) NULL,
	[fax] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[website] [nvarchar](100) NULL,
	[line_id] [nvarchar](50) NULL,
	[address] [nvarchar](max) NULL,
	[sub_district] [nvarchar](100) NULL,
	[district] [nvarchar](100) NULL,
	[province] [nvarchar](100) NULL,
	[zip_code] [nvarchar](20) NULL,
	[logo_url] [nvarchar](max) NULL,
	[vat_rate] [decimal](10, 2) NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_delete] [bit] NOT NULL,
 CONSTRAINT [PK_tb_company] PRIMARY KEY CLUSTERED 
(
	[autoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_customer]    Script Date: 2026-06-09 10:38:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_customer](
	[autoID] [int] IDENTITY(1,1) NOT NULL,
	[prefix] [nvarchar](3) NOT NULL,
	[customer_id] [nvarchar](50) NULL,
	[customer_type_id] [nvarchar](50) NOT NULL,
	[customer_name] [nvarchar](200) NOT NULL,
	[tax_id] [nvarchar](20) NULL,
	[branch_name] [nvarchar](50) NULL,
	[contact_person] [nvarchar](100) NULL,
	[phone1] [nvarchar](50) NULL,
	[phone2] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[line_id] [nvarchar](50) NULL,
	[address] [nvarchar](max) NULL,
	[sub_district] [nvarchar](100) NULL,
	[district] [nvarchar](100) NULL,
	[province] [nvarchar](100) NULL,
	[zip_code] [nvarchar](20) NULL,
	[credit_limit] [decimal](18, 2) NULL,
	[credit_term_day] [int] NULL,
	[note] [nvarchar](max) NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_delete] [bit] NOT NULL,
 CONSTRAINT [PK_tb_customer] PRIMARY KEY CLUSTERED 
(
	[autoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_customer_type]    Script Date: 2026-06-09 10:38:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_customer_type](
	[autoID] [int] IDENTITY(1,1) NOT NULL,
	[prefix] [nvarchar](3) NOT NULL,
	[customer_type_id] [nvarchar](50) NULL,
	[type_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_date] [datetime] NOT NULL,
	[id_status] [bit] NOT NULL,
	[is_delete] [bit] NOT NULL,
 CONSTRAINT [pk_tb_customer_type] PRIMARY KEY CLUSTERED 
(
	[autoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_discount]    Script Date: 2026-06-09 10:38:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_discount](
	[autoID] [int] IDENTITY(1,1) NOT NULL,
	[prefix] [nvarchar](3) NOT NULL,
	[discount_id] [nvarchar](50) NULL,
	[discount_type_id] [nvarchar](50) NOT NULL,
	[discount_name] [nvarchar](150) NOT NULL,
	[discount_code] [nvarchar](20) NULL,
	[description] [nvarchar](500) NULL,
	[discount_value] [decimal](18, 4) NOT NULL,
	[is_percent] [bit] NOT NULL,
	[min_order_amount] [decimal](18, 4) NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_delete] [bit] NOT NULL,
 CONSTRAINT [PK_tb_discount] PRIMARY KEY CLUSTERED 
(
	[autoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_discount_type]    Script Date: 2026-06-09 10:38:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_discount_type](
	[autoID] [int] IDENTITY(1,1) NOT NULL,
	[prefix] [nvarchar](3) NOT NULL,
	[discount_type_id] [nvarchar](50) NULL,
	[discount_type_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](250) NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_delete] [bit] NOT NULL,
 CONSTRAINT [PK_tb_discount_type] PRIMARY KEY CLUSTERED 
(
	[autoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_product]    Script Date: 2026-06-09 10:38:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_product](
	[autoID] [int] IDENTITY(1,1) NOT NULL,
	[prefix] [nvarchar](3) NOT NULL,
	[product_id] [nvarchar](50) NULL,
	[product_code] [nvarchar](50) NOT NULL,
	[product_name] [nvarchar](255) NOT NULL,
	[product_group_id] [nvarchar](50) NOT NULL,
	[product_format_type_id] [nvarchar](50) NULL,
	[unit_type_id] [nvarchar](50) NULL,
	[vendor_id] [nvarchar](50) NULL,
	[count_stock] [bit] NOT NULL,
	[cost_price] [decimal](18, 4) NULL,
	[sell_price] [decimal](18, 4) NULL,
	[barcode] [nvarchar](50) NULL,
	[weight_kg] [decimal](10, 2) NULL,
	[description] [nvarchar](max) NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_delete] [bit] NOT NULL,
 CONSTRAINT [PK_tb_product] PRIMARY KEY CLUSTERED 
(
	[autoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_product_category]    Script Date: 2026-06-09 10:38:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_product_category](
	[autoID] [int] IDENTITY(1,1) NOT NULL,
	[prefix] [nvarchar](3) NOT NULL,
	[product_category_id] [nvarchar](50) NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[category_code] [nvarchar](20) NOT NULL,
	[description] [nvarchar](255) NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_delete] [bit] NOT NULL,
 CONSTRAINT [PK_tb_product_category] PRIMARY KEY CLUSTERED 
(
	[autoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_product_format_type]    Script Date: 2026-06-09 10:38:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_product_format_type](
	[autoID] [int] IDENTITY(1,1) NOT NULL,
	[prefix] [nvarchar](3) NOT NULL,
	[product_format_type_id] [nvarchar](50) NULL,
	[format_name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](250) NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_delete] [bit] NOT NULL,
 CONSTRAINT [PK_tb_product_format_type] PRIMARY KEY CLUSTERED 
(
	[autoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_product_group]    Script Date: 2026-06-09 10:38:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_product_group](
	[autoID] [int] IDENTITY(1,1) NOT NULL,
	[prefix] [nvarchar](3) NOT NULL,
	[product_group_id] [nvarchar](50) NULL,
	[product_category_id] [nvarchar](50) NOT NULL,
	[product_group_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_delete] [bit] NOT NULL,
 CONSTRAINT [PK_tb_product_group] PRIMARY KEY CLUSTERED 
(
	[autoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_product_sku]    Script Date: 2026-06-09 10:38:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_product_sku](
	[autoID] [int] IDENTITY(1,1) NOT NULL,
	[prefix] [nvarchar](3) NOT NULL,
	[sku_id] [nvarchar](50) NULL,
	[ref_product_id] [nvarchar](50) NOT NULL,
	[barcode] [nvarchar](50) NULL,
	[vendor_part_no] [nvarchar](50) NULL,
	[variation_name] [nvarchar](100) NULL,
	[issue_no] [nvarchar](50) NULL,
	[volume_no] [nvarchar](50) NULL,
	[edition_label] [nvarchar](50) NULL,
	[cost_price] [decimal](18, 4) NOT NULL,
	[sell_price] [decimal](18, 4) NOT NULL,
	[description] [nvarchar](max) NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_delete] [bit] NOT NULL,
 CONSTRAINT [PK_tb_product_sku] PRIMARY KEY CLUSTERED 
(
	[autoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_reference]    Script Date: 2026-06-09 10:38:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_reference](
	[autoID] [int] IDENTITY(1,1) NOT NULL,
	[ref_id] [varchar](50) NOT NULL,
	[ref_int] [int] NULL,
	[ref_text] [nvarchar](max) NULL,
	[update_by] [varchar](50) NULL,
	[update_date] [datetime] NULL,
	[prefix] [nvarchar](3) NULL,
	[id_status] [bit] NULL,
	[is_delete] [bit] NULL,
 CONSTRAINT [PK_tb_reference] PRIMARY KEY CLUSTERED 
(
	[ref_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_unit_type]    Script Date: 2026-06-09 10:38:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_unit_type](
	[autoID] [int] IDENTITY(1,1) NOT NULL,
	[prefix] [nvarchar](3) NOT NULL,
	[unit_type_id] [nvarchar](50) NULL,
	[unit_type_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_date] [datetime] NOT NULL,
	[is_delete] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [pk_tb_unit_type] PRIMARY KEY CLUSTERED 
(
	[autoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_users]    Script Date: 2026-06-09 10:38:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_users](
	[autoID] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[user_password] [nvarchar](255) NOT NULL,
	[user_level] [nvarchar](50) NOT NULL,
	[update_date] [datetime] NULL,
	[prefix] [nvarchar](3) NULL,
	[user_id] [nvarchar](50) NULL,
	[update_by] [nvarchar](50) NULL,
	[id_status] [bit] NULL,
	[is_delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[autoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_vendor]    Script Date: 2026-06-09 10:38:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_vendor](
	[autoID] [int] IDENTITY(1,1) NOT NULL,
	[prefix] [nvarchar](3) NOT NULL,
	[vendor_id] [nvarchar](50) NULL,
	[vendor_type_id] [nvarchar](50) NOT NULL,
	[vendor_name] [nvarchar](150) NOT NULL,
	[tax_id] [nvarchar](20) NULL,
	[branch_name] [nvarchar](50) NULL,
	[contact_person] [nvarchar](100) NULL,
	[phone1] [nvarchar](50) NULL,
	[phone2] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[website] [nvarchar](100) NULL,
	[address] [nvarchar](max) NULL,
	[sub_district] [nvarchar](100) NULL,
	[district] [nvarchar](100) NULL,
	[province] [nvarchar](100) NULL,
	[zip_code] [nvarchar](20) NULL,
	[credit_term_day] [int] NULL,
	[currency] [nvarchar](10) NULL,
	[note] [nvarchar](max) NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_delete] [bit] NOT NULL,
 CONSTRAINT [PK_tb_vendor] PRIMARY KEY CLUSTERED 
(
	[autoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_vendor_type]    Script Date: 2026-06-09 10:38:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_vendor_type](
	[autoID] [int] IDENTITY(1,1) NOT NULL,
	[prefix] [nvarchar](3) NOT NULL,
	[vendor_type_id] [nvarchar](50) NULL,
	[type_name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_delete] [bit] NOT NULL,
 CONSTRAINT [PK_tb_vendor_type] PRIMARY KEY CLUSTERED 
(
	[autoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_warehouse]    Script Date: 2026-06-09 10:38:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_warehouse](
	[autoID] [int] IDENTITY(1,1) NOT NULL,
	[prefix] [nvarchar](3) NOT NULL,
	[warehouse_id] [nvarchar](50) NULL,
	[warehouse_code] [nvarchar](20) NOT NULL,
	[warehouse_name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](255) NULL,
	[is_main_dc] [bit] NULL,
	[allow_negative_stock] [bit] NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_delete] [bit] NOT NULL,
 CONSTRAINT [PK_tb_warehouse] PRIMARY KEY CLUSTERED 
(
	[autoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_company] ON 

SET IDENTITY_INSERT [dbo].[tb_company] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_customer] ON 

INSERT [dbo].[tb_customer] ([autoID], [prefix], [customer_id], [customer_type_id], [customer_name], [tax_id], [branch_name], [contact_person], [phone1], [phone2], [email], [line_id], [address], [sub_district], [district], [province], [zip_code], [credit_limit], [credit_term_day], [note], [update_by], [update_date], [is_active], [is_delete]) VALUES (1, N'CUS', N'CUSA000001', N'CUTA000001', N'ลูกค้าทั่วไป (Walk-in)', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(0.00 AS Decimal(18, 2)), 0, NULL, N'System', CAST(N'2025-12-08T22:52:25.900' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[tb_customer] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_customer_type] ON 

INSERT [dbo].[tb_customer_type] ([autoID], [prefix], [customer_type_id], [type_name], [description], [update_by], [update_date], [id_status], [is_delete]) VALUES (1, N'CUT', N'CUTA000001', N'General Customer', N'ลูกค้าทั่วไป (Walk-in / Online) ชำระเงินสดทันที', N'System', CAST(N'2025-12-08T22:25:08.047' AS DateTime), 1, 0)
INSERT [dbo].[tb_customer_type] ([autoID], [prefix], [customer_type_id], [type_name], [description], [update_by], [update_date], [id_status], [is_delete]) VALUES (2, N'CUT', N'CUTA000002', N'Guest User', N'ผู้ใช้งานชั่วคราว ไม่ได้ลงทะเบียนสมาชิก', N'System', CAST(N'2025-12-08T22:25:08.047' AS DateTime), 1, 0)
INSERT [dbo].[tb_customer_type] ([autoID], [prefix], [customer_type_id], [type_name], [description], [update_by], [update_date], [id_status], [is_delete]) VALUES (3, N'CUT', N'CUTA000003', N'Member (Standard)', N'สมาชิกทั่วไป สะสมแต้มได้', N'System', CAST(N'2025-12-08T22:25:08.063' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[tb_customer_type] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_discount] ON 

INSERT [dbo].[tb_discount] ([autoID], [prefix], [discount_id], [discount_type_id], [discount_name], [discount_code], [description], [discount_value], [is_percent], [min_order_amount], [start_date], [end_date], [update_by], [update_date], [is_active], [is_delete]) VALUES (1, N'DSC', N'DSCA000001', N'DCTA000001', N'ส่วนลดทั่วไป 5%', NULL, N'ลด 5% ทันทีไม่มีขั้นต่ำ', CAST(5.0000 AS Decimal(18, 4)), 1, CAST(0.0000 AS Decimal(18, 4)), NULL, NULL, N'Admin', CAST(N'2025-12-08T22:18:42.867' AS DateTime), 1, 0)
INSERT [dbo].[tb_discount] ([autoID], [prefix], [discount_id], [discount_type_id], [discount_name], [discount_code], [description], [discount_value], [is_percent], [min_order_amount], [start_date], [end_date], [update_by], [update_date], [is_active], [is_delete]) VALUES (2, N'DSC', N'DSCA000002', N'DCTA000002', N'ลดทันที 100 บาท', NULL, N'เมื่อซื้อครบ 1,500 บาท ลดทันที 100 บาท', CAST(100.0000 AS Decimal(18, 4)), 0, CAST(1500.0000 AS Decimal(18, 4)), NULL, NULL, N'Admin', CAST(N'2025-12-08T22:18:42.887' AS DateTime), 1, 0)
INSERT [dbo].[tb_discount] ([autoID], [prefix], [discount_id], [discount_type_id], [discount_name], [discount_code], [description], [discount_value], [is_percent], [min_order_amount], [start_date], [end_date], [update_by], [update_date], [is_active], [is_delete]) VALUES (3, N'DSC', N'DSCA000003', N'DCTA000003', N'ซื้อเยอะ ลดคุ้ม (Bulk 10k)', NULL, N'ยอดซื้อเกิน 10,000 บาท ลดเพิ่ม 10%', CAST(10.0000 AS Decimal(18, 4)), 1, CAST(10000.0000 AS Decimal(18, 4)), NULL, NULL, N'SalesMgr', CAST(N'2025-12-08T22:18:42.890' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[tb_discount] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_discount_type] ON 

INSERT [dbo].[tb_discount_type] ([autoID], [prefix], [discount_type_id], [discount_type_name], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (1, N'DCT', N'DCTA000001', N'Percentage Discount (%)', N'ส่วนลดแบบคิดเป็นเปอร์เซ็นต์จากราคาขาย', N'PlayDevX', CAST(N'2025-12-08T22:20:29.733' AS DateTime), 1, 0)
INSERT [dbo].[tb_discount_type] ([autoID], [prefix], [discount_type_id], [discount_type_name], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (2, N'DCT', N'DCTA000002', N'Fixed Amount (Baht)', N'ส่วนลดแบบระบุจำนวนเงินแน่นอน (บาท)', N'PlayDevX', CAST(N'2025-12-08T22:20:29.733' AS DateTime), 1, 0)
INSERT [dbo].[tb_discount_type] ([autoID], [prefix], [discount_type_id], [discount_type_name], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (3, N'DCT', N'DCTA000003', N'Volume Discount', N'ส่วนลดตามปริมาณการสั่งซื้อ (ซื้อเยอะลดเยอะ)', N'PlayDevX', CAST(N'2025-12-08T22:20:29.733' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[tb_discount_type] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_product] ON 

SET IDENTITY_INSERT [dbo].[tb_product] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_product_category] ON 

INSERT [dbo].[tb_product_category] ([autoID], [prefix], [product_category_id], [category_name], [category_code], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (1, N'PCT', N'PCTA000001', N'หนังสือและสิ่งพิมพ์ (Books & Publishing)', N'BOOK', N'ธุรกิจหลัก จำหน่ายหนังสือ นิตยสาร และสื่อสิ่งพิมพ์ทุกชนิด', N'System', CAST(N'2025-12-08T22:03:27.820' AS DateTime), 1, 0)
INSERT [dbo].[tb_product_category] ([autoID], [prefix], [product_category_id], [category_name], [category_code], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (2, N'PCT', N'PCTA000002', N'ขนส่งและแพ็คกิ้ง (Logistics & Packing)', N'LOGISTICS', N'บริการขนส่งและจำหน่ายอุปกรณ์แพ็คกิ้ง (กล่อง/ซอง)', N'System', CAST(N'2025-12-08T22:03:27.820' AS DateTime), 1, 0)
INSERT [dbo].[tb_product_category] ([autoID], [prefix], [product_category_id], [category_name], [category_code], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (3, N'PCT', N'PCTA000003', N'ไอทีและดิจิทัล (IT & Digital)', N'IT', N'สินค้าไอที ฮาร์ดแวร์ ซอฟต์แวร์ และสินค้าดิจิทัล', N'System', CAST(N'2025-12-08T22:03:27.820' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[tb_product_category] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_product_format_type] ON 

INSERT [dbo].[tb_product_format_type] ([autoID], [prefix], [product_format_type_id], [format_name], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (1, N'PFM', N'PFMA000001', N'ปกอ่อน (Paperback)', N'หนังสือเข้าเล่มไสกาว ปกกระดาษ', N'PlayDevX', CAST(N'2025-12-08T22:00:04.617' AS DateTime), 1, 0)
INSERT [dbo].[tb_product_format_type] ([autoID], [prefix], [product_format_type_id], [format_name], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (2, N'PFM', N'PFMA000002', N'ปกแข็ง (Hardcover)', N'หนังสือเข้าเล่มเย็บกี่ ปกแข็งจั่วปัง', N'PlayDevX', CAST(N'2025-12-08T22:00:04.617' AS DateTime), 1, 0)
INSERT [dbo].[tb_product_format_type] ([autoID], [prefix], [product_format_type_id], [format_name], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (3, N'PFM', N'PFMA000003', N'E-Book (PDF)', N'ไฟล์หนังสือดิจิทัล PDF (Fixed Layout)', N'PlayDevX', CAST(N'2025-12-08T22:00:04.617' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[tb_product_format_type] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_product_group] ON 

INSERT [dbo].[tb_product_group] ([autoID], [prefix], [product_group_id], [product_category_id], [product_group_name], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (1, N'PGT', N'PGTA000001', N'PCTA000001', N'นิยายและวรรณกรรม (Fiction & Literature)', N'Novels, Thai literature, and translated works', N'System', CAST(N'2025-12-08T22:23:10.127' AS DateTime), 1, 0)
INSERT [dbo].[tb_product_group] ([autoID], [prefix], [product_group_id], [product_category_id], [product_group_name], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (2, N'PGT', N'PGTA000002', N'PCTA000001', N'การ์ตูนและมังงะ (Comics & Manga)', N'Graphic novels, Manga, and Comic books', N'System', CAST(N'2025-12-08T22:23:10.127' AS DateTime), 1, 0)
INSERT [dbo].[tb_product_group] ([autoID], [prefix], [product_group_id], [product_category_id], [product_group_name], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (3, N'PGT', N'PGTA000003', N'PCTA000001', N'หนังสือเรียนและวิชาการ (Textbooks & Academic)', N'School textbooks, Exam guides', N'System', CAST(N'2025-12-08T22:23:10.127' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[tb_product_group] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_product_sku] ON 

INSERT [dbo].[tb_product_sku] ([autoID], [prefix], [sku_id], [ref_product_id], [barcode], [vendor_part_no], [variation_name], [issue_no], [volume_no], [edition_label], [cost_price], [sell_price], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (1, N'SKU', N'SKUA000001', N'PDTA000001', N'9786161849999', NULL, NULL, NULL, NULL, N'พิมพ์ครั้งที่ 1', CAST(315.0000 AS Decimal(18, 4)), CAST(495.0000 AS Decimal(18, 4)), NULL, N'System', CAST(N'2025-12-18T23:00:37.337' AS DateTime), 1, 0)
INSERT [dbo].[tb_product_sku] ([autoID], [prefix], [sku_id], [ref_product_id], [barcode], [vendor_part_no], [variation_name], [issue_no], [volume_no], [edition_label], [cost_price], [sell_price], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (2, N'SKU', N'SKUA000002', N'PDTA000001', N'978616184999X', NULL, NULL, NULL, NULL, N'พิมพ์ครั้งที่ 2 (Reprint)', CAST(315.0000 AS Decimal(18, 4)), CAST(495.0000 AS Decimal(18, 4)), NULL, N'System', CAST(N'2025-12-18T23:00:37.337' AS DateTime), 1, 0)
INSERT [dbo].[tb_product_sku] ([autoID], [prefix], [sku_id], [ref_product_id], [barcode], [vendor_part_no], [variation_name], [issue_no], [volume_no], [edition_label], [cost_price], [sell_price], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (3, N'SKU', N'SKUA000003', N'PDTA000003', N'9786161850002', NULL, NULL, NULL, NULL, N'ปกมาตรฐาน', CAST(185.0000 AS Decimal(18, 4)), CAST(285.0000 AS Decimal(18, 4)), NULL, N'System', CAST(N'2025-12-18T23:00:37.337' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[tb_product_sku] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_unit_type] ON 

INSERT [dbo].[tb_unit_type] ([autoID], [prefix], [unit_type_id], [unit_type_name], [description], [update_by], [update_date], [is_delete], [is_active]) VALUES (1, N'UNT', N'UNTA000001', N'เล่ม', N'หน่วยนับสำหรับหนังสือ นิตยสาร หรือสมุด', N'PlayDevX', CAST(N'2025-12-08T21:48:03.127' AS DateTime), 0, 1)
INSERT [dbo].[tb_unit_type] ([autoID], [prefix], [unit_type_id], [unit_type_name], [description], [update_by], [update_date], [is_delete], [is_active]) VALUES (2, N'UNT', N'UNTA000002', N'ฉบับ', N'หน่วยนับสำหรับหนังสือพิมพ์ หรือเอกสารสำคัญ', N'PlayDevX', CAST(N'2025-12-08T21:48:03.127' AS DateTime), 0, 1)
INSERT [dbo].[tb_unit_type] ([autoID], [prefix], [unit_type_id], [unit_type_name], [description], [update_by], [update_date], [is_delete], [is_active]) VALUES (3, N'UNT', N'UNTA000003', N'แผ่น', N'หน่วยนับสำหรับโปสเตอร์ หรือซีดี', N'PlayDevX', CAST(N'2025-12-08T21:48:03.127' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[tb_unit_type] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_users] ON 

INSERT [dbo].[tb_users] ([autoID], [user_name], [user_password], [user_level], [update_date], [prefix], [user_id], [update_by], [id_status], [is_delete]) VALUES (1, N'admin', N'$2y$10$Bgc3rSWT2LNnNqxn3RKyJu5T4JYEYdWMFnHH4pB0klQvdhCoWFM9S', N'ADMIN', CAST(N'2025-08-25T14:19:08.553' AS DateTime), N'USR', NULL, NULL, 1, 0)
INSERT [dbo].[tb_users] ([autoID], [user_name], [user_password], [user_level], [update_date], [prefix], [user_id], [update_by], [id_status], [is_delete]) VALUES (2, N'root', N'$2y$10$lztuR2Ez1HHTl4IckZ/nD.MfQXJ5NR3fsEdNHdiyAYw/vrdrKcN.q', N'ROOT', CAST(N'2025-08-25T14:21:07.490' AS DateTime), N'USR', NULL, NULL, 1, 0)
INSERT [dbo].[tb_users] ([autoID], [user_name], [user_password], [user_level], [update_date], [prefix], [user_id], [update_by], [id_status], [is_delete]) VALUES (3, N'hacker', N'$2y$10$porcQnjjOmdxY6RZKAaPTuyf0dKGAW9jvpQODoU5FYdV0D.U7gHgC', N'USER', CAST(N'2025-08-25T14:21:13.100' AS DateTime), N'USR', NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[tb_users] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_vendor] ON 

SET IDENTITY_INSERT [dbo].[tb_vendor] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_vendor_type] ON 

INSERT [dbo].[tb_vendor_type] ([autoID], [prefix], [vendor_type_id], [type_name], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (1, N'VET', N'VETA000001', N'สำนักพิมพ์ (วรรณกรรม/นิยาย)', N'ผู้ผลิตงานวรรณกรรม นวนิยาย เรื่องสั้น', N'PlayDevX', CAST(N'2025-12-08T22:09:01.773' AS DateTime), 1, 0)
INSERT [dbo].[tb_vendor_type] ([autoID], [prefix], [vendor_type_id], [type_name], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (2, N'VET', N'VETA000002', N'สำนักพิมพ์ (วิชาการ/การศึกษา)', N'ผู้ผลิตตำราเรียน คู่มือสอบ และงานวิจัย', N'PlayDevX', CAST(N'2025-12-08T22:09:01.773' AS DateTime), 1, 0)
INSERT [dbo].[tb_vendor_type] ([autoID], [prefix], [vendor_type_id], [type_name], [description], [update_by], [update_date], [is_active], [is_delete]) VALUES (3, N'VET', N'VETA000003', N'สำนักพิมพ์ (การ์ตูน/มังงะ/Light Novel)', N'ผู้ผลิตสื่อสิ่งพิมพ์ประเภทการ์ตูนและนิยายภาพ', N'PlayDevX', CAST(N'2025-12-08T22:09:01.773' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[tb_vendor_type] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_warehouse] ON 

INSERT [dbo].[tb_warehouse] ([autoID], [prefix], [warehouse_id], [warehouse_code], [warehouse_name], [description], [is_main_dc], [allow_negative_stock], [update_by], [update_date], [is_active], [is_delete]) VALUES (1, N'WHS', N'WHSA000001', N'DC', N'เพ็ญบุญจัดจำหน่าย (DC)', N'คลังสินค้าหลักสำหรับกระจายสินค้า รับของเข้าที่นี่เท่านั้น', 1, 0, N'System', CAST(N'2025-12-11T12:15:34.693' AS DateTime), 1, 0)
INSERT [dbo].[tb_warehouse] ([autoID], [prefix], [warehouse_id], [warehouse_code], [warehouse_name], [description], [is_main_dc], [allow_negative_stock], [update_by], [update_date], [is_active], [is_delete]) VALUES (2, N'WHS', N'WHSA000002', N'BKK', N'เพ็ญบุญ สาขา กทม.', N'สาขากรุงเทพฯ (ตัดสต็อกเพื่อขาย Modern Trade)', 0, 0, N'System', CAST(N'2025-12-11T12:15:34.693' AS DateTime), 1, 0)
INSERT [dbo].[tb_warehouse] ([autoID], [prefix], [warehouse_id], [warehouse_code], [warehouse_name], [description], [is_main_dc], [allow_negative_stock], [update_by], [update_date], [is_active], [is_delete]) VALUES (3, N'WHS', N'WHSA000003', N'DMG', N'คลังสินค้าเสียหาย (Defect)', N'สำหรับพักสินค้าเสียหายรอส่งคืน/ทำลาย', 0, 0, N'System', CAST(N'2025-12-11T12:15:34.693' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[tb_warehouse] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tb_users__7C9273C46A83CD18]    Script Date: 2026-06-09 10:38:58 PM ******/
ALTER TABLE [dbo].[tb_users] ADD UNIQUE NONCLUSTERED 
(
	[user_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_company] ADD  CONSTRAINT [DF_tb_company_prefix]  DEFAULT ('CPN') FOR [prefix]
GO
ALTER TABLE [dbo].[tb_company] ADD  DEFAULT ('00000') FOR [branch_code]
GO
ALTER TABLE [dbo].[tb_company] ADD  DEFAULT ((7.00)) FOR [vat_rate]
GO
ALTER TABLE [dbo].[tb_company] ADD  DEFAULT ('System') FOR [update_by]
GO
ALTER TABLE [dbo].[tb_company] ADD  DEFAULT (CONVERT([datetime],(sysdatetimeoffset() AT TIME ZONE 'SE Asia Standard Time'))) FOR [update_date]
GO
ALTER TABLE [dbo].[tb_company] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tb_company] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[tb_customer] ADD  CONSTRAINT [DF_tb_customer_prefix]  DEFAULT ('CUS') FOR [prefix]
GO
ALTER TABLE [dbo].[tb_customer] ADD  DEFAULT ((0)) FOR [credit_limit]
GO
ALTER TABLE [dbo].[tb_customer] ADD  DEFAULT ((0)) FOR [credit_term_day]
GO
ALTER TABLE [dbo].[tb_customer] ADD  DEFAULT ('System') FOR [update_by]
GO
ALTER TABLE [dbo].[tb_customer] ADD  DEFAULT (CONVERT([datetime],(sysdatetimeoffset() AT TIME ZONE 'SE Asia Standard Time'))) FOR [update_date]
GO
ALTER TABLE [dbo].[tb_customer] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tb_customer] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[tb_customer_type] ADD  CONSTRAINT [DF_tb_customer_type_prefix]  DEFAULT ('CUT') FOR [prefix]
GO
ALTER TABLE [dbo].[tb_customer_type] ADD  DEFAULT ('System') FOR [update_by]
GO
ALTER TABLE [dbo].[tb_customer_type] ADD  DEFAULT (CONVERT([datetime],(sysdatetimeoffset() AT TIME ZONE 'SE Asia Standard Time'))) FOR [update_date]
GO
ALTER TABLE [dbo].[tb_customer_type] ADD  DEFAULT ((1)) FOR [id_status]
GO
ALTER TABLE [dbo].[tb_customer_type] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[tb_discount] ADD  CONSTRAINT [DF_tb_discount_prefix]  DEFAULT ('DSC') FOR [prefix]
GO
ALTER TABLE [dbo].[tb_discount] ADD  DEFAULT ((0)) FOR [discount_value]
GO
ALTER TABLE [dbo].[tb_discount] ADD  DEFAULT ((0)) FOR [is_percent]
GO
ALTER TABLE [dbo].[tb_discount] ADD  DEFAULT ((0)) FOR [min_order_amount]
GO
ALTER TABLE [dbo].[tb_discount] ADD  DEFAULT ('System') FOR [update_by]
GO
ALTER TABLE [dbo].[tb_discount] ADD  DEFAULT (CONVERT([datetime],(sysdatetimeoffset() AT TIME ZONE 'SE Asia Standard Time'))) FOR [update_date]
GO
ALTER TABLE [dbo].[tb_discount] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tb_discount] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[tb_discount_type] ADD  CONSTRAINT [DF_tb_discount_type_prefix]  DEFAULT ('DCT') FOR [prefix]
GO
ALTER TABLE [dbo].[tb_discount_type] ADD  DEFAULT ('System') FOR [update_by]
GO
ALTER TABLE [dbo].[tb_discount_type] ADD  DEFAULT (CONVERT([datetime],(sysdatetimeoffset() AT TIME ZONE 'SE Asia Standard Time'))) FOR [update_date]
GO
ALTER TABLE [dbo].[tb_discount_type] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tb_discount_type] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[tb_product] ADD  CONSTRAINT [DF_tb_product_prefix]  DEFAULT ('PDT') FOR [prefix]
GO
ALTER TABLE [dbo].[tb_product] ADD  DEFAULT ((1)) FOR [count_stock]
GO
ALTER TABLE [dbo].[tb_product] ADD  DEFAULT ((0)) FOR [cost_price]
GO
ALTER TABLE [dbo].[tb_product] ADD  DEFAULT ((0)) FOR [sell_price]
GO
ALTER TABLE [dbo].[tb_product] ADD  DEFAULT ((0)) FOR [weight_kg]
GO
ALTER TABLE [dbo].[tb_product] ADD  DEFAULT ('System') FOR [update_by]
GO
ALTER TABLE [dbo].[tb_product] ADD  DEFAULT (CONVERT([datetime],(sysdatetimeoffset() AT TIME ZONE 'SE Asia Standard Time'))) FOR [update_date]
GO
ALTER TABLE [dbo].[tb_product] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tb_product] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[tb_product_category] ADD  CONSTRAINT [DF_tb_product_category_prefix]  DEFAULT ('PCT') FOR [prefix]
GO
ALTER TABLE [dbo].[tb_product_category] ADD  DEFAULT ('System') FOR [update_by]
GO
ALTER TABLE [dbo].[tb_product_category] ADD  DEFAULT (CONVERT([datetime],(sysdatetimeoffset() AT TIME ZONE 'SE Asia Standard Time'))) FOR [update_date]
GO
ALTER TABLE [dbo].[tb_product_category] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tb_product_category] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[tb_product_format_type] ADD  CONSTRAINT [DF_tb_product_format_type_prefix]  DEFAULT ('PFM') FOR [prefix]
GO
ALTER TABLE [dbo].[tb_product_format_type] ADD  DEFAULT ('System') FOR [update_by]
GO
ALTER TABLE [dbo].[tb_product_format_type] ADD  DEFAULT (CONVERT([datetime],(sysdatetimeoffset() AT TIME ZONE 'SE Asia Standard Time'))) FOR [update_date]
GO
ALTER TABLE [dbo].[tb_product_format_type] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tb_product_format_type] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[tb_product_group] ADD  CONSTRAINT [DF_tb_product_group_prefix]  DEFAULT ('PGT') FOR [prefix]
GO
ALTER TABLE [dbo].[tb_product_group] ADD  DEFAULT ('System') FOR [update_by]
GO
ALTER TABLE [dbo].[tb_product_group] ADD  DEFAULT (CONVERT([datetime],(sysdatetimeoffset() AT TIME ZONE 'SE Asia Standard Time'))) FOR [update_date]
GO
ALTER TABLE [dbo].[tb_product_group] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tb_product_group] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[tb_product_sku] ADD  CONSTRAINT [DF_tb_product_sku_prefix]  DEFAULT ('SKU') FOR [prefix]
GO
ALTER TABLE [dbo].[tb_product_sku] ADD  DEFAULT ((0)) FOR [cost_price]
GO
ALTER TABLE [dbo].[tb_product_sku] ADD  DEFAULT ((0)) FOR [sell_price]
GO
ALTER TABLE [dbo].[tb_product_sku] ADD  DEFAULT ('System') FOR [update_by]
GO
ALTER TABLE [dbo].[tb_product_sku] ADD  DEFAULT (CONVERT([datetime],(sysdatetimeoffset() AT TIME ZONE 'SE Asia Standard Time'))) FOR [update_date]
GO
ALTER TABLE [dbo].[tb_product_sku] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tb_product_sku] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[tb_reference] ADD  DEFAULT ('REF') FOR [prefix]
GO
ALTER TABLE [dbo].[tb_reference] ADD  DEFAULT ((1)) FOR [id_status]
GO
ALTER TABLE [dbo].[tb_reference] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[tb_unit_type] ADD  DEFAULT ('UNT') FOR [prefix]
GO
ALTER TABLE [dbo].[tb_unit_type] ADD  DEFAULT ('System') FOR [update_by]
GO
ALTER TABLE [dbo].[tb_unit_type] ADD  DEFAULT (CONVERT([datetime],(sysdatetimeoffset() AT TIME ZONE 'SE Asia Standard Time'))) FOR [update_date]
GO
ALTER TABLE [dbo].[tb_unit_type] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[tb_unit_type] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tb_users] ADD  DEFAULT ('USR') FOR [prefix]
GO
ALTER TABLE [dbo].[tb_users] ADD  DEFAULT ((1)) FOR [id_status]
GO
ALTER TABLE [dbo].[tb_users] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[tb_vendor] ADD  CONSTRAINT [DF_tb_vendor_prefix]  DEFAULT ('VEN') FOR [prefix]
GO
ALTER TABLE [dbo].[tb_vendor] ADD  DEFAULT ((30)) FOR [credit_term_day]
GO
ALTER TABLE [dbo].[tb_vendor] ADD  DEFAULT ('THB') FOR [currency]
GO
ALTER TABLE [dbo].[tb_vendor] ADD  DEFAULT ('System') FOR [update_by]
GO
ALTER TABLE [dbo].[tb_vendor] ADD  DEFAULT (CONVERT([datetime],(sysdatetimeoffset() AT TIME ZONE 'SE Asia Standard Time'))) FOR [update_date]
GO
ALTER TABLE [dbo].[tb_vendor] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tb_vendor] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[tb_vendor_type] ADD  CONSTRAINT [DF_tb_vendor_type_prefix]  DEFAULT ('VET') FOR [prefix]
GO
ALTER TABLE [dbo].[tb_vendor_type] ADD  DEFAULT ('System') FOR [update_by]
GO
ALTER TABLE [dbo].[tb_vendor_type] ADD  DEFAULT (CONVERT([datetime],(sysdatetimeoffset() AT TIME ZONE 'SE Asia Standard Time'))) FOR [update_date]
GO
ALTER TABLE [dbo].[tb_vendor_type] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tb_vendor_type] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[tb_warehouse] ADD  CONSTRAINT [DF_tb_warehouse_prefix]  DEFAULT ('WHS') FOR [prefix]
GO
ALTER TABLE [dbo].[tb_warehouse] ADD  DEFAULT ((0)) FOR [is_main_dc]
GO
ALTER TABLE [dbo].[tb_warehouse] ADD  DEFAULT ((0)) FOR [allow_negative_stock]
GO
ALTER TABLE [dbo].[tb_warehouse] ADD  DEFAULT ('System') FOR [update_by]
GO
ALTER TABLE [dbo].[tb_warehouse] ADD  DEFAULT (CONVERT([datetime],(sysdatetimeoffset() AT TIME ZONE 'SE Asia Standard Time'))) FOR [update_date]
GO
ALTER TABLE [dbo].[tb_warehouse] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tb_warehouse] ADD  DEFAULT ((0)) FOR [is_delete]
GO
/****** Object:  StoredProcedure [dbo].[USP_CLEAN_CONSTRAINT]    Script Date: 2026-06-09 10:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 0. Helper to safely drop constraints and indexes
CREATE   PROCEDURE [dbo].[USP_CLEAN_CONSTRAINT] (@fkName NVARCHAR(128), @tableName NVARCHAR(128))
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX);
    IF EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = @fkName AND parent_object_id = OBJECT_ID(@tableName))
    BEGIN
        SET @sql = N'ALTER TABLE dbo.' + QUOTENAME(@tableName) + N' DROP CONSTRAINT ' + QUOTENAME(@fkName);
        EXEC(@sql);
    END
    IF EXISTS (SELECT 1 FROM sys.key_constraints WHERE name = @fkName AND parent_object_id = OBJECT_ID(@tableName))
    BEGIN
        SET @sql = N'ALTER TABLE dbo.' + QUOTENAME(@tableName) + N' DROP CONSTRAINT ' + QUOTENAME(@fkName);
        EXEC(@sql);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DROP_FK_IF_EXISTS]    Script Date: 2026-06-09 10:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Helper to drop constraints if they exist (from partial previous runs)
-- (We use this to ensure the final ADD CONSTRAINT doesn't fail on a naming conflict)
CREATE   PROCEDURE [dbo].[USP_DROP_FK_IF_EXISTS] (@fkName NVARCHAR(128), @tableName NVARCHAR(128))
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX);
    IF EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = @fkName AND parent_object_id = OBJECT_ID(@tableName))
    BEGIN
        SET @sql = N'ALTER TABLE dbo.' + QUOTENAME(@tableName) + N' DROP CONSTRAINT ' + QUOTENAME(@fkName);
        EXEC(@sql);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DROP_INDEX_IF_EXISTS]    Script Date: 2026-06-09 10:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Helper to safely drop Index
CREATE   PROCEDURE [dbo].[USP_DROP_INDEX_IF_EXISTS] (@indexName NVARCHAR(128), @tableName NVARCHAR(128))
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX);
    IF EXISTS (SELECT 1 FROM sys.indexes WHERE name = @indexName AND object_id = OBJECT_ID(@tableName))
    BEGIN
        SET @sql = N'DROP INDEX ' + QUOTENAME(@indexName) + N' ON dbo.' + QUOTENAME(@tableName);
        EXEC(@sql);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GENERATE_BUSINESS_ID]    Script Date: 2026-06-09 10:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* -------------------------------------------------------------------------
 * 1) USP_GENERATE_BUSINESS_ID (Canonical Generator) - Hardened & Guarded
 * ------------------------------------------------------------------------- */
CREATE   PROCEDURE [dbo].[USP_GENERATE_BUSINESS_ID]
    @TableName  NVARCHAR(100),          -- kept for signature compatibility (unused)
    @Prefix     NVARCHAR(10),
    @AutoID     INT,
    @OutputID   NVARCHAR(50) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SeriesSize INT = 999999;   -- Max running number per series (6 digits)
    DECLARE @MaxAutoID  INT = 26 * 999999; -- 25,999,974 = last addressable id

    -- Guard: Prevent Silent Collision
    IF @AutoID IS NULL OR @AutoID < 1
        THROW 50001, N'USP_GENERATE_BUSINESS_ID: @AutoID must be >= 1.', 1;
    IF @AutoID > @MaxAutoID
        THROW 50002, N'USP_GENERATE_BUSINESS_ID: series space exhausted.', 1;

    -- Sanitize prefix: NULL-safe, trimmed, upper-cased, capped at 3 chars
    SET @Prefix = UPPER(LEFT(LTRIM(RTRIM(ISNULL(@Prefix, 'ERR'))), 3));

    DECLARE @SeriesIndex INT = ((@AutoID - 1) / @SeriesSize) % 26;  -- 0=A .. 25=Z
    DECLARE @SeriesChar  CHAR(1) = CHAR(65 + @SeriesIndex);        -- ASCII 65 = 'A'
    DECLARE @RunningNum  INT = ((@AutoID - 1) % @SeriesSize) + 1;  -- 1..999999

    SET @OutputID = @Prefix + @SeriesChar
                  + RIGHT('000000' + CAST(@RunningNum AS NVARCHAR(10)), 6);
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GENERATE_ID]    Script Date: 2026-06-09 10:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* -------------------------------------------------------------------------
 * 2) USP_GENERATE_ID — FIXED: 1000000 -> 999999 (Wrapper logic)
 * ------------------------------------------------------------------------- */
CREATE   PROCEDURE [dbo].[USP_GENERATE_ID]
    @autoID  INT,
    @prefix  NVARCHAR(3),
    @new_id  NVARCHAR(50) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @prefix = UPPER(LEFT(LTRIM(RTRIM(ISNULL(@prefix, 'ERR'))), 3));

    DECLARE @seriesIndex INT   = ((@autoID - 1) / 999999) % 26;   -- FIXED
    DECLARE @letter      NCHAR(1) = CHAR(65 + @seriesIndex);

    DECLARE @runningNum  INT   = ((@autoID - 1) % 999999) + 1;    -- FIXED
    DECLARE @digits      NVARCHAR(6) = RIGHT('000000' + CONVERT(NVARCHAR(6), @runningNum), 6);

    SET @new_id = @prefix + @letter + @digits;
END
GO
